@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 980px;
    margin: auto;
}
:root{
    --main-color: #223645;
    --font-family: "Lato", sans-serif;
}
button {
    background-color: rgb(239 101 0);
    font-size: 15px;
    color: white;
    width: 106px;
    height: 51px;
    border-radius: 10px;
    margin: auto;
}
button:hover{
    background-color:#4e72d0;
    transition: 200ms;
}

/*Ruslan*/
.products{

}
.products__product-list{


}
.products__product-list h2 {
    text-align: center;
    font-family: var(--font-family);
    color: var(--main-color);
    font-size: 40px;
    margin: 15px 0px 0px 0px;

}
.products__product-p{
    color: #9A9A9A;
    margin: 15px 0px 0px 0px;
}
.products__product-list  {
    text-align: center;
    font-family: var(--font-family);
    
    font-size: 19px;
    margin: 15px 0px 0px 0px;
}
.products__menu{
    margin: 50px 0px 0px 0px;

}

.products__menu-link{
    display: flex;
    justify-content: center;



}
.products__menu-link a {
    text-decoration: none;
    color: #9A9A9A;
    padding: 15px 20px;
}

.products__menu{
   
}
.products__submenu{

}
.products__item{
    display: flex;
    justify-content: space-around;
}
.products__item-card{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 30px 0px 0px;
    padding: 0px 15px;

}
.products__item-card img{
    width: 270px;
    height: 270px;
}
.products__description{
    color: #223645;
    font-size: 17px;
    margin: 24px 0px 0px 0px;
    font-size: 17px;

}
.products__price{
    color: #4e72d0;
    font-size: 17px;
    margin: 24px 0px 24px 0px;
    font-size: 17px;
}
.products__item-card button{
    background-color: rgb(239 101 0);
    font-size: 15px;
    color: white;
    width: 106px;
    height: 51px;
    border-radius: 10px;
    margin: auto;

}
.products__item-card button::first-letter{
    text-transform: uppercase;
}


.info{

}
.info__block-container{
    height: 513px;
    width: 100%;
}
.info__block-row{
    display: flex;
    align-items: center;
    justify-content: center;

}
.image{
    height: auto;
    width: 50%;

}
.text{
    text-align: center;
    width: 50%;


}
.text h2{
    font-family: var(--font-family);
    color: var(--main-color);
    font-size: 40px;
    margin: 15px 0px 0px 0px;
}
.text p{
    color: #9A9A9A;
    margin: 15px 0px 0px 0px;
}

/*Vlad*/

a {
    text-decoration: none;
}

.testimonials_text {
    padding-top: 1300px;
    color: #1e3647;
    font-size: 40px;
    text-align: center;
}

.text_under_testimonials {
    color: #9a9a9a;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

.first_customer_review, .second_customer_review, .third_customer_review {
    display: inline-block;
    padding-bottom: 40px;
}

.faq_and_contact_block {
    background-color: #f5f6fa;
    height: 450px;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.upper_faq {
    color: #9a9a9a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.phone_number_faq {
    color: #4e68d7;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    text-align: center;
}

.faq_news_update {
    font-weight: normal;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.faq_text_form {
    color: #9a9a9a;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}

.vitamins-img {
    padding-top: 60px;
}


.email_input_form {
    padding-bottom: 15px;
    padding-top: 40px;
    display: flex;
    padding-left: 70px;
    width: 360px;
    height: 40px;
    margin-left: -49px;
}


.email_input {
    border-radius: 10px;
    display: flex;
    width: 370px;
    height: 35px;
}

.email_input:focus {
    outline: none;
}

.submit_button {
    background-color: #ff5a00;
    color: white;
    display:flex;
    height:40px;
    width:365px;
    justify-content:center;
    align-items:center;
    margin-left: 17px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    
}

.contact-block {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 40px;
    width: 400px;
    height: 380px;
}

.social_icons {
    display: flex;
    
}

.facebook_logo, .instagram_logo, .youtube_logo {
    padding-right: 10px;
    padding-bottom: 80px;
}

.footer_grid_elements {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Future responive footer
@media (max-width: 600px) {
    .footer_grid_elements {
        grid-template-columns: 1fr 1fr;
    }
}
*/

.footer_nav {
    text-align: center;
    font-size: 20px;
}

.quick_links_footer {
    font-size: 20px;
}

.navigation_text_footer, .quick_links_text_footer, .contacts_footer_text {
    padding-top: 5px;
    padding-bottom: 15px;
}

.footer_nav_products, .footer_nav_about_us, .footer_nav_best_deals, .footer_nav_latest_news {
    color: #1e3647;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.quick_links_shipping, .quick_links_privacy, .quick_links_terms, .quick_links_orders {
    color: #1e3647;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.contacts_footer_phone_text, .contacts_footer_email_text, .contacts_footer_address_word {
    color: #20c798;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.contacts_footer_phone_link, .contacts-footer-email-link {
    color: #4e68d7;
}

.contacts_footer_phone_link:hover, .contacts-footer-email-link:hover {
    color: #9a9a9a;
}

li {
    list-style-type: none; 
}
   
ul {
    margin-left: 0; 
    padding-left: 0;
}

.navigation_text_footer, .quick_links_footer, .contacts_footer {
       color: #4e72d0;

}

.address_type {
    color: #9a9a9a;
}



.footer_logo_text {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #9a9a9a;
}

.copyright_info {
    display: flex;
    justify-content: space-between;
    background-color: #f5f7fb;
}



